* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 3px solid rgb(231, 139, 139);
}

.title {
  text-align: center;
  color: teal;
  font-size: 32px;
  margin: 20px 0;
}

.title span {
  font-size: 36px;
  color: tomato;
}

.box,
.box-a {
  width: 200px;
  height: 200px;
  transition: 0.3s linear all;
}

.relative {
  border: 1px solid red;
}

.relative:hover .box-3,
.relative:hover .box-2 {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.3s linear all;
}

.box-1 {
  background-color: #fec;
}

.box-2 {
  position: relative;
  top: -100px;
  left: 100px;
  /* bottom: 1px; */
  /* right: 1px; */
  background-color: #0f0;
}

.box-3 {
  position: relative;
  bottom: 50px;
  /* right: -50%; */
  background-color: rgb(4, 34, 4);
}

/* Абсолютне позиціонування */

.box-a-1 {
  background-color: #ccc;
}

.box-a-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(134, 19, 19);
}

.box-a-3 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(7, 109, 58);
  transition: .2s linear all;
}

.absolute {
  position: relative;
  border: 1px solid blue;
}

.absolute:hover .box-a-3{
    right: calc(90% - 200px);
}

.box-a-4 {
    position: absolute;
    background-color: rgb(26, 7, 109);
    transition: .2s linear all;
  }